body{
    background-color: #f5f5f5f5;  
}

.nav-pills li a:hover {
    background-color: rgb(107, 21, 187);
}

.nav-pills .dropdown-menu li a:hover {   /*Para el submenu de jornadas del sidebar*/
    color: white !important;  
}

.bgside__bar{
    background:blueviolet;
}

.navbar-brand__img{
width: 50px;
}

.logo__s{
    font-family: 'Dancing Script', cursive; 
}

.user img{
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;  
}

.user img:hover{
    width: 48px;
    height: 48px;
    cursor: pointer;  
}
.bajar{
    translate: 0 88px !important;
}

.mover-derecha-tabla{
    translate: 80px 60px;
}

/* --------------- Tabla ---------------- */

.mover-derecha-tabla img{
    translate: 140px 0px;
}

.line{
	width: 100%;
	height: 4px;
	border: 0 none;
	margin: 1rem 0;
	background-color: rgb(128, 128, 128);
}

.boton-añadir{
    background-color: blueviolet;
    color: white;
}

table thead {
    background-color: rgb(255, 179, 0);
}

.tablita{
    padding-top: 10px;
}

.tablita table{
    border-color: lightgrey;
}

/* --------------- Modal ---------------- */
.modal-header{
   /* background-color: blueviolet;*/
    background: linear-gradient(to right, blueviolet, #ff00ff); 
    color: white;
}

.modal-body .modal_imagen{
    position: relative;
    left: 37.5%;
  /*  width: 27%;*/
}